<div class="col-sm-4">
    <div class="card card-box">
        <div class="row">
            <div class="col-md-12">
                <div id="owl-demo" class="owl-carousel">
                    <div class="item"><img src="{{ asset('image/GEO3.jpeg') }}" alt="The Last of us">
                    </div>
                    <div class="item"><img src="{{ asset('image/GEO5.jpeg') }}" alt="GTA V">
                    </div>
                    <div class="item"><img src="{{ asset('image/GEO6.jpeg') }}" alt="Mirror Edge">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>