<h1>{{title}}</h1>
<p>This is my awesome first PDF generated using Snappy in my Symfony 3 project.</p>
<p>UTF-8 Test : κ?σμε</p>
<p>Image : </p><br>

<p>SVG Example : </p><br>
<div>
    <!-- Do not forget to give width and height to your svg
        use PLAIN SVG directly (<svg>content</svg>)
        Tiger SVG EXAMPLE : https://upload.wikimedia.org/wikipedia/commons/f/fd/Ghostscript_Tiger.svg
    -->
</div>
<p>Canvas Example with Javascript: </p><br>
